.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(50deg, #121e6c 0%, #ee424e 100%);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo img {
    height: 60px;
  }

  .right-items {
    display: flex;
    align-items: center;
    margin-right: 60px;
    gap: 15px;

    label {
      color: #F3F3F3;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      cursor: pointer;
      transition: color 0.3s;

    }
  }
}