<div class="filters">

  <div class="total-card">
    <div class="header-card">
      <span>Total de ventas de hoy</span>
      <span class="right-icon">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-card">
      <span>{{ getTotalAmount() | currency:'':'symbol':'1.0-0' }}</span>
    </div>
    <div class="footer-card">
      <span>{{ getFilteredDateInString() }}</span>
    </div>
  </div>

  <div class="date-filters">
    
    <div class="button-section">
      <button [class.selected]="selectedFilter === 'today'" (click)="onFilterClick('today')">Hoy</button>
      <button [class.selected]="selectedFilter === 'week'" (click)="onFilterClick('week')">Esta semana</button>
      <button [class.selected]="selectedFilter === 'june'" (click)="onFilterClick('june')">Junio</button>
    </div>

    <div class="filter-button-section">
      <button>
        <span>Filtrar</span> <i class="fa fa-sliders"></i>
      </button>
    </div>
  </div>
</div>