<div class="filters">

  <div class="total-card">
    <div class="header-card">
      <span>Total de ventas de hoy</span>
      <span class="right-icon">
        <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-card">
      <span>{{ getTotalAmount() | currency:'':'symbol':'1.0-0' }}</span>
    </div>
    <div class="footer-card">
      <span>{{ getFilteredDateInString() }}</span>
    </div>
  </div>

  <div class="date-filters">

    <div class="button-section">
      <button [class.selected]="transactionFilters.date === 'today'" (click)="onDateClickAction('today')">Hoy</button>
      <button [class.selected]="transactionFilters.date === 'week'" (click)="onDateClickAction('week')">Esta semana</button>
      <button [class.selected]="transactionFilters.date === 'june'" (click)="onDateClickAction('june')">Junio</button>
    </div>

    <div class="filter-button-section">
      <button class="checkbox-button-filters" (click)="onShowOrHideCheckboxFiltersAction()"
        [ngClass]="showCheckboxTransactionTypeFlter ? 'large' : 'auto'">
        <span class="filter-text-container">
          <span class="filter-text">Filtrar</span>
        </span>
        <span class="icon-container">
          <i class="fa fa-sliders" *ngIf="!showCheckboxTransactionTypeFlter"></i>
          <i class="fa fa-times" *ngIf="showCheckboxTransactionTypeFlter"></i>
        </span>
      </button>
      <div class="options" [ngClass]="{ 'show': showCheckboxTransactionTypeFlter }">
        <label *ngFor="let option of filterTransactionTypeOptions">
          <input type="checkbox" [checked]="option.checked" (change)="onChangeTransactionTypeFilterAction(option)" />
          {{ option.label === 'TERMINAL' ? 'Cobro con datáfono' : option.label === 'PAYMENT_LINK' ? 'Cobro con link de
          pago' : 'Ver todos' }}
        </label>
        <div class="apply-button-container">
          <button class="apply-button" (click)="applyFilters()" [disabled]="isApplyButtonDisabled()">Aplicar</button>
        </div>
      </div>
    </div>

  </div>
</div>