.filters {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 15px;

    .total-card {
        flex: 2;
        border-radius: 10px;
        justify-content: space-between;
        background: #FFFFFF;

        .header-card {
            padding: 15px 20px;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            background: linear-gradient(50deg, #121e6c 0%, #ee424e 100%);

            span {
                color: #FFFFFF;
                font-size: 12px;
                font-weight: 400;
            }

            .right-icon {
                color: #FFFFFF;
                font-size: 12px;
                cursor: pointer;

                i {
                    font-style: italic;
                    font-size: 16px;
                }
            }
        }

        .content-card {
            text-align: center;
            padding: 10px;
            
            span {
                background: linear-gradient(50deg, #121e6c 0%, #ee424e 100%);
                -webkit-background-clip: text;
                /* Para Safari */
                -webkit-text-fill-color: transparent;
                /* Para Safari */
                background-clip: text;
                color: transparent;
                /* Para otros navegadores */
                font-size: 24px;
                /* Ajusta el tamaño de fuente según sea necesario */
                font-weight: bold;
                /* O cualquier otro estilo que desees */
            }
        }

        .footer-card {
            text-align: center;
            font-size: 12px;
            padding-bottom: 10px;
        }
    }

    .date-filters {
        flex: 4;
        flex-direction: column;
        display: flex;
        gap: 10px;
        height: 80px;

        .button-section {
            flex: 1;
            display: flex;
            gap: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            background: #FFFFFF;
            height: 40px;

            button {
                background: #FFFFFF;
                flex: 1;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                color: #121E6C;
                font-size: 12px;
                font-weight: 400;
                padding: 10px 20px;

                &:hover {
                    background: #F3F3F3;
                    border-radius: 15px;
                }

                &.selected {
                    background: #F3F3F3;
                    border-radius: 15px;
                    color: #121E6C;
                }
            }
        }


        .filter-button-section {
            flex: 1;
            display: flex;
            justify-content: right;
            height: 40px;

            button {
                background: #FFFFFF;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                color: #121e6c;
                font-size: 12px;
                font-weight: 600;

                span {
                    font-family: 'Montserrat', sans-serif;
                    cursor: pointer;
                    transition: color 0.3s;
                    margin-right: 5px;
                }
            }
        }

    }
}