<div *ngIf="isLoading">
  <app-loading-component></app-loading-component>
</div>

<div *ngIf="!isLoading" class="dashboard-container">
  <app-dashboard-filters-component [filteredTransactions]="filteredTransactions"
    [transactionFilters]="transactionFilters"
    (filterTransactions)="filterTransactions($event)"></app-dashboard-filters-component>
  <app-transaction-table [filteredTransactions]="filteredTransactions" [transactionFilters]="transactionFilters"
    (filterTransactions)="filterTransactions($event)">
  </app-transaction-table>
</div>